.conteiner1 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* border: 5px solid red; */
}

/* header */
header {
    max-width: inherit;
    width: inherit;
    padding: 0px 114px 0px 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid green; */
    background-color: #9EAEC5;
    font-family: 'Rubik';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.header_logo {
    width: 100%;
    font-size: 2.25rem;
    font-weight: 700;
    color: #F6F5F2;
    background-color: #C0BA8F;
    width: 196px;
    height: 100px;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo:hover {
    cursor: pointer;
    color: #623932;
    text-shadow: 4px 1px #ffffff;
}

ul {
    display: flex;
    gap: 47px;
}

li {
    font-size: 1.5rem;
    font-weight: 700;
}

.active {
    color: #623932;
}

.noactive {
    color: #E3F6F6;
}

.noactive:hover {
    cursor: pointer;
    border-bottom: 3px solid #623932;
}

.noactive:hover {
    cursor: pointer;
    border-bottom: 3px solid #623932;
}

.fa-cart-arrow-down {
    color: #ffffff;
}
.fa-burger{
    display: none;
}

/* section */

.section1 {
    width: 100%;
    height: 678px;
    margin-top: 100px;
    /* border: 3px solid red; */
    background-image: url("../images/background_img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

h1 {
    width: 90%;
    font-family: 'Rubik';
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 0px 0px #FFFFFF;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50% -50%);
    text-align: center;
    animation-name: section1_text;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes section1_text {
    from {
        color: #ffffff;
        width: 90%;
    }

    to {
        color: #000000;
        width: 100%;
    }
}

/* footer  */
footer {
    width: 100%;
    padding: 77px 110px 77px 100px;
    background-color: #C0BA8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_text {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 1.25rem;
    color: #DDDBCB;
    align-items: center;
}

.footer_icons {
    display: flex;
    gap: 47px;
}

.fa-facebook-messenger,
.fa-instagram,
.fa-youtube {
    color: #E3F6F6;
}

.fa-facebook-messenger:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px white;
}

.fa-instagram:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px white;
}

.fa-youtube:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px white;
}



/* artworks - II page  */

/* section */

.artworks_section_box {
    width: 80%;
    padding: 35px 38px 28px 34px;
    background-color: #623932;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50% -50%);
}

h2 {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 41px;
    text-align: center;
    color: #ffffff;
}

.section_text {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 1.25rem;
    color: #ffffff;
    text-align: justify;
}

/* article - II page  */

article {
    width: 100%;
    height: 1328px;
    margin: 0 auto;
    padding: 70px 50px;
    background-color: #6A7B98;
}

h3 {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 150px;
    text-align: center;
}

.cards_box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}

.cards {
    width: 28%;
    /* height: 80%; */
    padding: 33px 28px 30px 28px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition-duration: 1.5s;
}

.cards:hover {
    cursor: pointer;
    box-shadow: 5px 5px 30px black;
}

.image_box {
    width: 90%;
    height: 80%;
    overflow: hidden;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 56px;
    transition-duration: 2s;
}

.card:hover {
    cursor: pointer;
    transform: scale(2, 2);
}

.card_text {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
}

/* contact - III page */

.section_page3 {
    width: 100%;
    margin-top: 100px;
    padding: 90px 70px 84px 70px;
    background-color: #6A7B98;
}

.section_contact_box {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background-color: hsl(218, 29%, 95%, .68);
    display: flex;
}

.contact_div {
    width: 50%;
    height: 100%;
    padding: 31px 65px 36px 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 5px solid blue; */
}

.contact_text_div {
    line-height: 24px;
}

.phone_div,
.mail_div,
.location_div {
    display: flex;
    align-items: center;
    gap: 45px;
}

.fa-phone,
.fa-envelope,
.fa-location-dot {
    color: #F90E0E;
    transition: 1s ease;
}

.fa-phone:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.fa-envelope:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.fa-location-dot:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.text_comunication {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.5rem;
    color: #623932;
}

.contact_comunication {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 1.25rem;
    color: rgb(0, 0, 0, .64);
}

/* form */

.main_contact_div {
    width: 50%;
    padding: 32px 65px 35px 0px;
    display: flex;
    justify-content: space-between;
}

.form_div {
    width: 100%;
    height: 104px;
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 121px;
}

.F_E_div {
    width: 100%;
    margin-bottom: 44px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.5rem;
    color: #F90E0E;
}

#Fullname,
#Email_Address {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 4px solid #ffffff;
    font-size: 1rem;
    margin-top: 30px;
}

.textarea_div {
    width: 100%;
    height: 147px;
    margin-top: 50px;
    margin-bottom: 60px;
    border: 3px solid #ffffff;
    /* color: #EDF0F5 68%; */
    border-radius: 8px;
}

#textarea {
    width: 100%;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 1.5rem;
    background-color: transparent;
    color: #F7F5F2;
    resize: none;
    border: none;
    outline: none;
}
button[type="submit"] {
    width: 50%;
    height: 88px;
    border: 4px solid #ffffff;
    background-color: #F90E0E;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
    transition: .9s;
}

button[type="submit"]:hover {
    background-color: #cea5a5;
    border: 1px solid #350202;
    box-shadow: 15px 15px 30px red;
}